force-app/main/default/flows/inspectionCreatedStageChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>inspectiontype</name>
        <label>inspectiontype</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pflexmet__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateUnitHandover</targetReference>
            </connector>
            <label>internal</label>
        </rules>
        <rules>
            <name>external</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pflexmet__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateUnitHandover</targetReference>
            </connector>
            <label>external</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>inspectionCreatedStageChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>inspectionCreatedStageChange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_updateUnitHandover</name>
        <label>Copy 1 of updateUnitHandover</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit_Handover__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <stringValue>Customer Interaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Customer Interaction</stringValue>
            </value>
        </inputAssignments>
        <object>Unit_Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateBatchHandover</name>
        <label>updateBatchHandover</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit_Handover__r.Batch_Unit_Handover__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stages__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Handover Request Approval</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stages__c</field>
            <value>
                <stringValue>Internal Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>Batch_Unit_Handover__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUnitHandover</name>
        <label>updateUnitHandover</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>updateBatchHandover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit_Handover__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <stringValue>Internal Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Internal Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>Unit_Handover__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>inspectiontype</targetReference>
        </connector>
        <object>Inspection__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
