force-app/main/default/flows/Milestone_Instalment_Invoice_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Did_User_Select_Anything</name>
        <label>Did User Select Anything?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_PPIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_PPIs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_atleast_1_unit</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Enables Finance to generate, review, and integrate milestone instalment invoices with Oracle in a controlled manner.</description>
    <environments>Default</environments>
    <formulas>
        <name>linkFormula</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/&quot; + {!Get_Entity_Definition.QualifiedApiName} + &quot;/list?filterName=Finance_Team_View&quot;</expression>
    </formulas>
    <interviewLabel>Milesone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone Instalment Invoice Generation</label>
    <loops>
        <name>Loop_Selected_PPIs</name>
        <label>Loop Selected PPIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Selected_PPIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Invoice_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Entity_Definition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Eligible_PPIs</name>
        <label>Get Eligible PPIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Installments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Invoiced</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pending_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Plan_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entity_Definition</name>
        <label>Get Entity Definition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_atleast_1_unit</name>
        <label>Select atleast 1 unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Installments</targetReference>
        </connector>
        <fields>
            <name>Select1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(202, 9, 9);&quot;&gt;Select atleast 1 payment plan item !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Installments</name>
        <label>Select Installments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Did_User_Select_Anything</targetReference>
        </connector>
        <fields>
            <name>PPI_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment_Plan_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Payment Plan Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Eligible_PPIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Payment_Plan_Item__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Eligible_PPIs&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fb9b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name_fml__c&quot;,&quot;guid&quot;:&quot;column-e55e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name fml&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Contact_Name_fml__c&quot;,&quot;guid&quot;:&quot;column-899d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contact Name fml&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_Sale_Formula__c&quot;,&quot;guid&quot;:&quot;column-e201&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Unit Sale&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Unit Sale Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_name__c&quot;,&quot;guid&quot;:&quot;column-f2f2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Unit name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Pending_Amount__c&quot;,&quot;guid&quot;:&quot;column-88a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Pending Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;milestone_name_fml__c&quot;,&quot;guid&quot;:&quot;column-63b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Milestone&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;milestone name fml&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Payment_Plan_Item__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;Account_Name_fml__c&quot;,&quot;Contact_Name_fml__c&quot;,&quot;Unit_Sale_Formula__c&quot;,&quot;Unit_name__c&quot;,&quot;Pending_Amount__c&quot;,&quot;milestone_name_fml__c&quot;],&quot;elementReference&quot;:&quot;Get_Eligible_PPIs&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_PPIs</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Generate Invoice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 160, 8);&quot;&gt;Invoices Have been successfully generated for the selected Payment Plan Item(s) !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!linkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Click here&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;to view your invoices&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Eligible_PPIs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Invoice_Creation</name>
        <label>New Invoice Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Selected_PPIs</targetReference>
        </connector>
        <flowName>Milestone_Instalment_Invoice_Generation_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Customer_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varActualDate</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Actual_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContact</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInvoiceAmount</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Invoice__r.Invoice_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInvoiceDate</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Invoice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMilestone</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPPIId</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProject</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProperty</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Properties__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaxValue</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Tax_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotAmountExTax</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Total_Amount_Excluding_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUnit</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUnitSale</name>
            <value>
                <elementReference>Loop_Selected_PPIs.Unit_Sale__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ppiCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Plan_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_PPIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Plan_Item__c</objectType>
    </variables>
</Flow>
