force-app/main/default/flows/parkingUnitsCountSetting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>parkingUnitsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughParkingUnits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>opportunityPath</name>
        <label>opportunityPath</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>getRelatedParkingUnits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pflexmet__Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOpportunity</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>parkingUnitsCountSet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>parkingUnitsCountSetting</label>
    <loops>
        <name>loopThroughParkingUnits</name>
        <label>loopThroughParkingUnits</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <collectionReference>getRelatedParkingUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateUnitSale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedParkingUnits</name>
        <label>getRelatedParkingUnits</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughParkingUnits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Units__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>getRelatedParkingUnits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stages__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unit Sale</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Stages__c</field>
            <value>
                <stringValue>Unit Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUnitSale</name>
        <label>updateUnitSale</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Number_of_Parking_Units__c</field>
            <value>
                <elementReference>parkingUnitsCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opportunityPath</targetReference>
        </connector>
        <object>Unit_Sale__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>parkingUnitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
